<div class="section">
  <div class="container">
    <div class="content">
      <h1 class="title">Ready to sink some werewolfs?</h1>
      <h6 class="subtitle is-6"><strong>Pusher werewolf</strong></h6>

      <hr>

      <section  class="notification is-success has-text-centered" style="color:white">
        <h1>
          Player  has won the game!
        </h1>
      </section>

      <div *ngIf="game">
        Test
        <div class="form-group">
          <button *ngIf="isCreator()" (click)="assignRoles()" class="mat-button">
            <span class="spinner-border spinner-border-sm mr-1"></span>
            Start Game and Assign Roles
          </button>
        </div>
      </div>


      <div *ngIf="player > 1">
        <div class="notification is-danger">
          Sorry, only 2 players can play at a time. You can start your own game by visiting <a href="{{ gameUrl }}">{{
            gameUrl }}</a>
        </div>
      </div>

      <div *ngIf="players">
        <h2>Waiting for Players to Join</h2>
        <h3 class="subtitle is-6">You can invite them with this link: {{ gameUrl }}?id={{ gameId }}. You can also open
          <a href="{{ gameUrl }}?id={{ gameId }}" target="_blank">this link</a> in a new browser, to play all by
          yourself.</h3>
      </div>
      <div>

        <div class="column has-text-centered player-box" *ngFor="let item of pusherIdToUserNameMap | keyvalue">
          <h5>
            {{item.value}}
          </h5>
          <mat-card class="player-card">
            {{item.key}}
          </mat-card>

        </div>

      </div>

      <div class="has-text-centered">
        <span class="tag is-warning" *ngIf="canPlay">Your turn!</span>
        <span class="tag is-danger" *ngIf="!canPlay">Other player's turn.</span>
        <h5 class="title"><small>{{ players }} player(s) in game</small></h5>
      </div>


    </div>
  </div>
</div>

<div>
  Current Role: {{role}}
</div>


<div> Current Players: {{pusherIdToUserNameMap.size}}
  <div *ngFor="let item of pusherIdToUserNameMap | keyvalue">
    <b>{{item.value}}</b>
  </div>
</div>
