<div class="section">
  <div class="container">
    <div class="content">
      <h1 *ngIf="!hasGameStarted">
        Waiting for game to start...
      </h1>

      <div *ngIf="game">
        <div class="form-group">
          <button *ngIf="isCreator()" (click)="assignRoles()" class="mat-button">
            <span class="spinner-border spinner-border-sm mr-1"></span>
            Start Game and Assign Roles
          </button>
        </div>
      </div>

      <section *ngIf="isDay && hasGameStarted" class="notification is-success has-text-centered" style="color:white">
        <h1>
          It is the day cycle
        </h1>
      </section>

      <section *ngIf="!isDay && hasGameStarted" class="notification is-success has-text-centered" style="color:white">
        <h1>
          It is the night cycle
        </h1>
      </section>

      <section *ngIf="villagersWon" class="notification is-success has-text-centered" style="color:white">
        <h1>
          The werewolves have been eliminated the villagers win
        </h1>
      </section>

      <section *ngIf="werewolvesWon" class="notification is-success has-text-centered" style="color:white">
        <h1>
          The villagers have been killed and the werewolves win
        </h1>
      </section>

      <section *ngIf="isEliminated" class="notification is-success has-text-centered" style="color:white">
        <h1>
          You have been Eliminated from the Game
        </h1>
      </section>

      <hr>


      <div *ngIf="hasGameStarted">
        <div class="column has-text-centered player-box" *ngFor="let item of idToUserNameMap | keyvalue">
          <mat-card class="player-card">
            <mat-card-title> {{item.value.username}} </mat-card-title>
            <mat-card-subtitle  *ngIf="isDayCycle()">
              <button [disabled]="hasVoted || item.value.isEliminated || isEliminated" (click)="voteClicked(item.value.id)" class="mat-button">
                <span class="spinner-border spinner-border-sm mr-1"></span>
                Vote {{item.value.voteCount}}
              </button>
            </mat-card-subtitle>
            <mat-card-subtitle  *ngIf="isWerewolf()">
              <button [disabled]="isEliminated || hasVoted || item.value.isEliminated || item.value.role === 'werewolf'" (click)="voteClicked(item.value.id)" class="mat-button">
                <span class="spinner-border spinner-border-sm mr-1"></span>
                Kill {{item.value.voteCount}}
              </button>
            </mat-card-subtitle>
            <mat-card-subtitle  *ngIf="user.role === 'cop' && isDay">
              <button [disabled]="isEliminated || hasVoted" (click)="protectClicked(item.value.id)" class="mat-button">
                <span class="spinner-border spinner-border-sm mr-1"></span>
                Protect
              </button>
            </mat-card-subtitle>
            <mat-card-subtitle  *ngIf="user.role === 'physic' && isDay && !item.value.isRevealed">
              <button [disabled]="isEliminated || hasVoted" (click)="revealClicked(item.value.id)" class="mat-button">
                <span class="spinner-border spinner-border-sm mr-1"></span>
                Reveal Role
              </button>
            </mat-card-subtitle>
            <mat-card-subtitle *ngIf="user.role === 'physic' && item.value.isRevealed">
              {{item.value.role}}
            </mat-card-subtitle>
            <mat-card-subtitle *ngIf="item.value.isEliminated">
              This Player has been eliminated
            </mat-card-subtitle>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  Current Role: {{role}}
</div>

<div> Current Players: {{idToUserNameMap.size}}
  <div *ngFor="let item of idToUserNameMap | keyvalue">
    <b>{{item.value.username}}</b>
  </div>
</div>
