.gameCard {
    margin: 5px;
}

::ng-deep .mat-card {
    background: var(--foreground-secondary) !important;
    min-height: 100px;
    color: var(--foreground-tertiary) !important;
}

.checkboxStyle {
  margin-left: 10px;
}
